<html 
	xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script src="https://kit.fontawesome.com/86c8b7e53b.js" crossorigin="anonymous"></script>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
	<title th:text="${city.name} + ' Weather'"></title>
</head>
<body>
<th:block th:fragment="header">
	    <nav class="navbar navbar-dark  navbar-expand-lg">
			<div class="container-fluid">
	            <div class="container">
	            <a th:href="@{/}">Home</a>
	            </div>
				    <form action="#" th:action="@{/city}" th:object="${newCity}" method="post">

		    					<div class="form-group">	
									<input type="hidden" th:field="*{name}" id="name">
									<select class="form-control" th:field="*{coord.lat}" id="lat">
									</select>
									<select class="form-control"  th:field="*{coord.lon}" id="lon">
									</select>
								</div>
							<div class="form-group">
								<label for="country">Country Code:</label>
								<select class="form-control" th:field="*{country}" id="country" onchange="getCities()">
									<option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
								</select>
							</div>
							<div class="form-group">
								<label>City:</label>
								<select class="form-control" th:field="*{id}" id="city" onchange="document.getElementById('name').value=(this.options[this.selectedIndex].text); 
								document.getElementById('lat').selectedIndex=this.selectedIndex;document.getElementById('lon').selectedIndex=this.selectedIndex;">
								</select>
							</div>
						<input class="btn btn-primary" type="submit" value="Get Weather">
	    		</form>
	   		</div>
	    </nav>
	    </th:block>>
    </body>
    </html>