<html 
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<th:block th:fragment="header">
	    <nav class="navbar navbar-dark  navbar-expand-lg">
			<div class="container-fluid">
	            <div class="container">
	            <a th:href="@{/}">Home</a>
	            </div>
				    <form action="#" th:action="@{/city}" th:object="${newCity}" method="post">

		    					<div class="form-group">	
									<input type="hidden" th:field="*{name}" id="name">
									<select class="form-control" th:field="*{coord.lat}" id="lat">
									</select>
									<select class="form-control"  th:field="*{coord.lon}" id="lon">
									</select>
								</div>
							<div class="form-group">
								<label for="country">Country Code:</label>
								<select class="form-control" th:field="*{country}" id="country" onchange="getCities()">
									<option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
								</select>
							</div>
							<div class="form-group">
								<label>City:</label>
								<select class="form-control" th:field="*{id}" id="city" onchange="document.getElementById('name').value=(this.options[this.selectedIndex].text); 
								document.getElementById('lat').selectedIndex=this.selectedIndex;document.getElementById('lon').selectedIndex=this.selectedIndex;">
								</select>
							</div>
						<input class="btn btn-primary" type="submit" value="Get Weather">
	    		</form>
	   		</div>
	    </nav>
	    </th:block>>
    </body>
    </html>