body{
	background-repeat: no-repeat;
	background-image: url("/images/pero-kalimero-9BJRGlqoIUk-unsplash.jpg");
	text-align: center;
}
footer{
	position: relative;
	bottom: 0;
	background: transparent;
}
form{
	padding: 20px;
	width: 25rem;
}
#lon{
	display: none;
}
#lat{
	display: none;
}
.font-weight-normal {
	font-weight: 400 !important;
	width: 4rem;
	text-align: center;
	position: relative;
	top: 0.5rem;
}