<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{fragments/layout}"
>
  <head>
  <script th:inline="javascript">
	function getDt(){
		var day, x, dayId,
		dt = /*[[${currentWeatherData.dt}]]*/,
		date = new Date(dt*1000),
		current = date.getDate(),
		options= {weekday: "long"};
		document.getElementById("date").innerHTML = date;
		for(x = 1; x <= 7; x++){
			date.setDate(current + x);
			day = new Intl.DateTimeFormat('en', options).format(date);
			dayId= "Day" + x.toString();
			document.getElementById(dayId).innerText = day;
		}
    };
    </script>    
    <script src="https://kit.fontawesome.com/86c8b7e53b.js" crossorigin="anonymous"></script>

    <link
      rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous"/>
    <title th:text="${city.name} "></title>
  </head>

  <body onload="getCities();getDt();">
    <div layout:fragment="content" th:remove="tag">
      <!-- Card -->
      <div class="card weather-card">
        <!-- Card content -->
        <div class="card-body pb-3">
          <!-- Title -->
          <h4 class="card-title font-weight-bold">
            <span th:text="${city.name}"></span>
            <img class="currentIcon" th:src ="'http://openweathermap.org/img/wn/' + ${currentWeatherData.weather[0].icon} + '@2x.png'" alt="weatherIcon"/>
          </h4>
          <!-- Text -->
          <p class="card-text" id="date"></p>
          <div class="d-flex justify-content-between">
            Temp:
            <p class="display-1 degree">
              <span th:text="${currentWeatherData.temp}"></span> &deg;C
            </p>
            <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
            Feels Like:
            <p class="display-1 degree">
              <span th:text="${currentWeatherData.feelsLike}"></span> &deg;C
            </p>
            <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
          </div>
          <div class="d-flex justify-content-between mb-4">
            <p>
              <i class="fas fa-tint fa-lg text-info pr-2"></i>Humidity:
              <span th:text="${currentWeatherData.humidity}"></span>%
            </p>
            <p>
              <i class="fas fa-leaf fa-lg grey-text pr-2"></i
              ><span th:text="${currentWeatherData.windSpeed}"></span> km/h
              Winds
            </p>
          </div>
          <div class="collapse-content">
            <div class="collapse" id="collapseExample">
              <table class="table table-borderless table-sm mb-0">
                <tbody>
                  <tr>
                    <td
                      class="font-weight-normal align-middle"
                      id="Day1"
                    ></td>
                    <td class="float-right font-weight-normal">
                      <p class="mb-1">
                        <span th:text="${daily[0].temp.max}"></span>&deg;<span class="text-muted" th:text="'/' + ${daily[0].temp.min}"></span>
                      </p>
                    </td>
                    <td class="float-right mr-3">
                      <img th:src ="'http://openweathermap.org/img/wn/' + ${daily[0].weather[0].icon} + '.png'"/>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="font-weight-normal align-middle"
                      id="Day2"
                    ></td>
                    <td class="float-right font-weight-normal">
                      <p class="mb-1">
                        <span th:text="${daily[1].temp.max}"></span>&deg;<span class="text-muted" th:text="'/' + ${daily[1].temp.min}"></span>
                      </p>
                    </td>
                    <td class="float-right mr-3">
                      <img th:src ="'http://openweathermap.org/img/wn/' + ${daily[1].weather[0].icon} + '.png'"/>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="font-weight-normal align-middle"
                      id="Day3"
                    ></td>
                    <td class="float-right font-weight-normal">
                      <p class="mb-1">
                        <span th:text="${daily[2].temp.max}"></span>&deg;<span class="text-muted" th:text="'/' + ${daily[2].temp.min}"></span>
                      </p>
                    </td>
                    <td class="float-right mr-3">
                      <img th:src ="'http://openweathermap.org/img/wn/' + ${daily[2].weather[0].icon} + '.png'"/>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="font-weight-normal align-middle"
                      id="Day4"
                    ></td>
                    <td class="float-right font-weight-normal">
                      <p class="mb-1">
                       <span th:text="${daily[3].temp.max}"></span>&deg;<span class="text-muted" th:text="'/' + ${daily[3].temp.min}"></span>
                      </p>
                    </td>
                    <td class="float-right mr-3">
                      <img th:src ="'http://openweathermap.org/img/wn/' + ${daily[3].weather[0].icon} + '.png'"/>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="font-weight-normal align-middle"
                      id="Day5"
                    ></td>
                    <td class="float-right font-weight-normal">
                      <p class="mb-1">
                        <span th:text="${daily[4].temp.max}"></span>&deg;<span class="text-muted" th:text="'/' + ${daily[4].temp.min}"></span>
                      </p>
                    </td>
                    <td class="float-right mr-3">
                      <img th:src ="'http://openweathermap.org/img/wn/' + ${daily[4].weather[0].icon} + '.png'"/>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="font-weight-normal align-middle"
                      id="Day6"
                    ></td>
                    <td class="float-right font-weight-normal">
                      <p class="mb-1">
                        <span th:text="${daily[5].temp.max}"></span>&deg;<span class="text-muted" th:text="'/' + ${daily[5].temp.min}"></span>
                      </p>
                    </td>
                    <td class="float-right mr-3">
                      <img th:src ="'http://openweathermap.org/img/wn/' + ${daily[5].weather[0].icon} + '.png'"/>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="font-weight-normal align-middle"
                      id="Day7"
                    ></td>
                    <td class="float-right font-weight-normal">
                      <p class="mb-1">
                        <span th:text="${daily[6].temp.max}"></span>&deg;<span class="text-muted" th:text="'/' + ${daily[6].temp.min}"></span>
                      </p>
                    </td>
                    <td class="float-right mr-3">
                      <img  th:src ="'http://openweathermap.org/img/wn/' + ${daily[6].weather[0].icon} + '.png'"/>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <hr class="" />

            <a
              class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 deep-purple-text collapsed"
              data-toggle="collapse"
              href="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
              >View Week Ahead</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
