<html 
	xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
	<title th:text="${city.name} + ' Weather'"></title>
</head>
<body>
	<div class="container">
	<h1 th:text="${city.name}"></h1>
	<table th:object="${main}">
		<tr>
			<td th:text="${temp}"></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		
	</table>
	
	</div>
	<footer>
        <div class="container">
        	<span>Photo by <a href="https://unsplash.com/@pericakalimerica?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Pero Kalimero</a> on <a href="https://unsplash.com/s/photos/cloud?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
        </div>
    </footer>
</body>
</html>